* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
}

    /* Header */

header {
    background-color: #eeeeee;
}
header .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
header .header_top .logo {
    background-image: url(../images/Logo.png);
    width: 160px;
    height: 65px;
}
header .header_top .nav ul li:not(:last-child) {
    margin-right: 50px;
}
header .header_top .nav ul {
    display: flex;
    list-style: none;
}
header .header_top .nav a,
header .header_top .basket a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
header .header_top .basket {
    display: flex;
}
header .header_top .basket .basket_icon {
    margin-right: 20px;
    background-image: url(../images/basket_icon.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

    /* Header bot */

header .header_bot {
    display: flex;
    justify-content: space-between;
}
header .header_bot .header_bot_text {
    width: 380px;
}
header .header_bot .header_bot_text h2 {
    margin-top: 60px;
    font-size: 55px;
    font-weight: 600;
}
header .header_bot .header_bot_text p {
    margin-top: 30px;
    color: #929698;
    font-size: 16px;
}
header .header_bot .header_bot_text button {
    margin-top: 50px;
    width: 240px;
    height: 50px;
    border: 0;
    background-color: #fb565a;
    color: #fff;
    font-size: 18px;
}
.header_bot_img {
    background-image: url(../images/slide1.png);
    width: 698px;
    height: 413px;
}

    /* Advantages */

.advantages {
    margin-top: 80px;
}
.advantages .container {   
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}
.advantages .advantages_wrapper {
    max-width: 1100px; 
    display: flex;
    justify-content: space-between;
}
.advantages .advantages_item {
    width: 300px;
}
.advantages .advantages_item .laptop {
    background-image: url(../images/laptop.png);
    width: 300;
    height: 146px;
}
.advantages .advantages_item .mobile {
    background-image: url(../images/mobile.png);
    width: 300;
    height: 146px;
}
.advantages .advantages_item .board {
    background-image: url(../images/board.png);
    width: 300;
    height: 146px;
}
.advantages .advantages_item h3 {
    margin-top: 30px;
    font-size: 24px;
    text-transform: uppercase;
}
.advantages .advantages_item p {
    margin-top: 28px;
    width: 280px;
}
.advantages .advantages_item button {
    width: 160px;
    height: 50px;
    border: 0;
    font-size: 18px;
    color: #fff;
    margin-top: 40px;
}
.advantages .advantages_item .advantages_button_red {
    background-color: #fb565a;
}
.advantages .advantages_item .advantages_button_green {
    background-color: #00ca74;
}
.advantages .advantages_item .advantages_button_yellow {
    background-color: #efc84a;
}

    /* Studio */

.studio .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.studio .container {   
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

    /* Studio left */

.studio .studio_left {
    width: 660px;
}
.studio .studio_left h2 {
    font-size: 45px;
    font-weight: 600;
}
.studio .studio_left > p {
    font-size: 16px;
    color: #283136;
    margin: 50px 0;
}
.studio .studio_left h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.studio .studio_left .studio_left_list {
    display: flex;
    margin-top: 30px;
}
.studio .studio_left .studio_left_list .red_line {
    width: 25px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/red_line.png);
    margin-right: 10px;
}

    /* Studio right */

.studio .studio_right {
    width: 360px;
}
.studio .studio_right .nerds_img {
    background-image: url(../images/nerds_illustration.png);
    width: 360px;
    height: 208px;
    margin-bottom: 30px;
}
.studio .studio_right h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.studio .studio_right .studio_right_list {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}
.studio .studio_right .studio_right_list .studio_right_item {
    width: 115px;
}
.studio .studio_right .studio_right_list .number {
    font-size: 45px;
    font-weight: bold;
}

.studio .studio_right .studio_right_list .number .percent {
    vertical-align: top;
    display: inline-block;
    font-size: 25px;
}
.studio .studio_right .studio_right_list p {
    font-size: 16px;
    margin-top: 20px;
}